.littleBox{
    height: 21px;
    width: 19px;
    position: relative;
    top: 60px
}
.delivery{
    position: relative;
    top: 60px;
    text-align: initial;
    width: 80%;
    margin: 0

}
.info-top{
    display: flex;
    justify-content: space-between
}
.cart{
    padding: 5%;
    padding-top: 0
}
.cart-column{
    text-align: left;
    display: flex;
    flex-direction: column
}
.inthebag{
    text-align: start;
    position: relative;
    top: 40px;
    padding: 5%
}
.bagheader{
    font-size: 28px;
    line-height: 1.142;
    font-weight: 600;
    letter-spacing: .007em;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;

}
