.home-body{
    background: #222;
    position: absolute;
    top: 48px;
    width: 100%;
    height: 100vh;
    color: white;
}
.offer-content{
    margin-left: auto;
    margin-right: auto;
    width: 87.5%;
}
.offer-box{
    padding-top: 51px;
    padding-bottom: 59.5px;
    width: 100%;
    background: black;
    text-align: center;
    border-bottom-width: 6px;
    border-color: #222;
    
}
.titles{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.offer-wrapper{
    display: flex;
    flex-direction: column
}
h3{
    margin: auto;
    max-width: 13em;
    font-size: 17px;
    line-height: 1.47;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.offerh2{
    margin: 0;
    font-weight: 600
}
.last{
    margin-bottom: 4.8px
}
.smallCaps{
    font-variant-caps: all-small-caps
}
.home-links{
    margin: 0;
    color: #6bf;
}
.offerLink{
    margin-top: 11.05px
}
.limited{
    color: #bbb;
    margin: 0;
    margin-bottom: 15px;
    border-style: solid;
    border-width: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    line-height: 1.33341;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    white-space: nowrap;
    border-radius: 4px;
    display: inline-block
}
.iphonebox{
    background: black;
    margin-right: auto;
    margin-left: auto;
    padding-top: 37px;
    margin-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageWrapper{
    margin: 0
}
.uphonepic{
    height: 30px;
}
.uphone-info{
    font-size: 17px;
    color: white;
    margin: 0;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.infowrap{
    width: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.xrpic{
    height: 332px;
    width: 216px;
    background-repeat: no-repeat;
    margin-top: 5em;
    right: auto;
    background-image: url(https://www.apple.com/v/home/dz/images/heroes/iphone-xr/iphone_xr_5e40f_small_2x.jpg);
    background-size: 216px 332px;
}
.xrpic2{
    height: 332px;
    width: 216px;
    background-repeat: no-repeat;
    margin-top: 5em;
    right: auto;
    background-image: url(https://www.apple.com/v/home/dz/images/heroes/iphone-xs/iphone_xs_0afef_small_2x.jpg);
    background-size: 216px 332px;
}

.shipping-box{
    background: black;
    border-width: 0;
    border-top-width: 12px;
    border-style: solid;
    border-color: #222;
    border-bottom-width: 12px;
    border-bottom-color: white

    
}
.shipping-text{
    color: white;
    font-size: 14px;
    line-height: 1.42861;
    font-weight: 400;
    letter-spacing: -.016em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin: 0;
    border-color: #222
}
.shipping-text-wrap{
    text-align: center;
    padding: 37px 0 38px;
    
}
.stupid{
    width: 100%;
    
}
.specialbox{
    width: 100%;
    height: 500px;
}
.holiday{
    width: 100%;
    object-fit: contain
}

@media (min-width: 737px){
    .titles{
        font-size: 24px;
        flex-direction: row
    }
    
}
@media (min-width: 900px){
    .xrpic{
        background-image: url(https://www.apple.com/v/home/dz/images/heroes/iphone-xr/iphone_xr_5e40f_medium_2x.jpg);
        width: 890px;
        height: 321px;
        background-size: 890px 321px;
        background-repeat: no-repeat;
        left: calc(20% + 0px);
    }
    .xrpic2{
        background-image: url(https://www.apple.com/v/home/dz/images/heroes/iphone-xs/iphone_xs_0afef_medium_2x.jpg);
        width: 682px;
        height: 315px;
        background-size: 682px 315px;
        background-repeat: no-repeat;
        justify-items: center
    }
    .uphone-info{
        font-size: 25px;
    }
    h3{
        font-size: 25px
    }
    .uphonepic{
        height: 40px
    }
}
@media (min-width: 1080px){
    .xrpic{
        width: 950px;
        height: 381px;
        background-size: 950px 381px;
        
    }
    .xrpic2{
        width: 974px;
        height: 415px;
        background-size: 974px 415px;
        background-repeat: no-repeat;
    }
}
@media (min-width: 1300px){
    .xrpic{
        width: 1000px;
        height: 431px;
        background-size: 1000px 431px;
    }
}