.UphoneMain{
    background-color: black;
    padding-left: 22px;
    padding-right: 22px;
    height: 100vh;
}
.header{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    align-items: baseline;
    margin-top: 40px;
    margin-bottom: 20px;
}
.options{
    display: flex;
    flex-direction: row;
    color: white;
}
.addToCart{
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    min-width: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #0070c9;
    background: linear-gradient(#42a1ec, #0070c9);
    border-color: #07c;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    height: 22px;
    width: 43.41px;
    margin: 0;
    top: 0;
    margin-left: 24px;
}
.line{
    height: 1px;
    width: 100%;
    background-color: rgba(51,51,51,0.95);
}
p{
    color: white;
    margin: 0;
    margin-left: 24px;
    font-size: 1em;
}
h2{
    color: white;
    margin: 0;
    font-size: 35px;
}
.effects{
    transition-property: opacity, transform, -webkit-transform;
    transition-duration: 1.2s, 1.4s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1),cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: flex;
    flex-direction: column;
    align-items: center
}
.name{
    color: #63636e;
    font-size: 25px;
}
.uphone-image{
    background-image: url(https://www.apple.com/v/iphone-xs/d/images/overview/hero_top_device_large.jpg);
    width: 1424px;
    height: 529px;
    background-size: 1424px 529px;
    background-repeat: no-repeat;
    margin-top: 70px;
    
}
@media (max-width: 1080px){
    .uphone-image{
        width: 1068px;
        height: 375px;
        background-image: url(https://www.apple.com/v/iphone-xs/d/images/overview/hero_top_device_large.jpg);
        background-repeat: no-repeat;
        background-size: 1068px 375px;
        
    }
}

@media (max-width: 1000px){
    .uphone-image{
        width: 800px;
        height: 300px;
        background-size: 800px 300px;
        background-repeat: no-repeat
    }
}
@media (max-width: 600px){
    .uphone-image{
        width: 500px;
        height: 200px;
        background-size: 500px 200px;
        background-repeat: no-repeat
    }
}